.cards-receitas .card {
  color: #000000;
  box-shadow: 4px 4px 10px #c0c0c0;
  border-radius: 0;
  margin: 0.5em auto;
  font-size: 16px;
}
.card img {
  width: 100px;
  margin: auto
}
.cards-receitas .card h5 {
  color: #000000;
  font-weight: bold;
}
.cards-receitas .card p {
  color: #000000;
}
.cards-receitas .btn {
  border-width: 2px;
  border-radius: 0;
  color: #0000ff;
  background-color: #ffffff;
}
.cards-receitas .btn:hover {
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0000ff;
}
.receitas-conteudo {
  display: none;
}
.receitas-conteudo li {
  text-align: justify;
  list-style-type: none;
}
.receitas-conteudo p {
  margin: 0.5em 1em;
  display: inline;
}
.receitas-conteudo span{
  color: #ff0000;
  font-weight: bold;
}
.receitas-conteudo h4 {
  margin: .5em auto;
  font-weight: bold;
}