.navbar a {
  margin: 0.2em 0.5em;
  font-weight: bold;
}
.bi-gear-wide-connected {
  color: #ff0000;
  font-size: 35px;
  animation:  gearrotation 7s infinite linear;
}

@keyframes gearrotation {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}